.head{
    text-align: center;
}
.box{
  text-align: center;
  background-color: rgb(248, 241, 241);
  width: 80%;
  border: 8px solid rgb(15, 216, 15);
  padding: 50px;
  margin: auto;
  
}
.butt{
    padding-top: 10px;
    padding-bottom: 40px;
}
#download{
  margin-left: 7px;
  background-color: rgb(179, 160, 156);
  
}
#view{
  background-color: rgb(155, 161, 155);
}
#in{
  text-decoration: none;
  color:white;
}
#out{
  text-decoration: none;
  color:aliceblue;
}